<div class="search-container">
  <button mat-raised-button (click)="onAdd()">
    <mat-icon>add</mat-icon>Dodaj książkę
  </button>
  <mat-form-field class="search-field">
    <input
      matInput
      [(ngModel)]="searchKey"
      placeholder="Wyszukaj..."
      autocomplete="off"
      (keyup)="applyFilter()"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Wyczyść"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="booksList" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="tytul">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Tytuł</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.tytul }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="autor">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Autor</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.autor }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dataWydania">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Data wydania</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.dataWydania }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="pozyczona">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Czy pożyczona</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.pozyczona }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row.$key)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Wczytywanie danych...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Brak danych do wyświetlenia.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row
      *matFooterRowDef="['loading']"
      [ngClass]="{ hide: booksList != null }"
    ></mat-footer-row>
    <mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{ hide: !(booksList != null && booksList.data.length == 0) }"
    ></mat-footer-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 30, 100]"
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
</div>